* {
	margin: 0;
	padding: 0;
}

ul {
	padding-left: 1em;
}

li {
	clear: both;
	margin-bottom: 1em;
}

html,
body {
	height: 100%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 300;
	background-color: #FFF;
	color: #000;
}

a {
	color: #0088FF;
	text-decoration: none;
}

a:hover {
	color: #22C4FF;
}

.center {
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
	max-width: 960px;
}

.text-center {
	text-align: center;
}

.wrap {
	display: table-cell;
	vertical-align: middle;
	max-width: 960px;
	margin: 10% auto;
	position: relative;
	padding: 0 20px;
}

.outer-wrap {
	display: table;
	width: 100%;
	height: 100%;
}

img.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

h1 {
	font-weight: 300;
	font-size: 40px;
}

h2 {
	font-weight: 100;
	font-size: 2em;
}

h3 {
	font-weight: 300;
}

hr {
	border-style: solid;
	margin: 10px 0;
}

.menu {
	position: relative;
	top: -.3em;
}

.menu>a {
	margin-right: .5em;
	letter-spacing: .5px;
}

.header>a {
	letter-spacing: 4px;
	color: #000;
}

.header>p {
	position: relative;
	top: -.5em;
}

table.contact {
	text-align: left;
	position: relative;
	margin: 0 auto;
}

table.contact td {
	padding: 0 5px;
	width: 200px;
}

table.contact td:first-child {
	text-align: right;
	margin-right: 5px;
}

div.project > h2 {
	margin-bottom: 0.25em;
}
img.project {
	height: 200px;
	float: left;
	margin: 0em 1em 1em 0em;
}

div.project {
	overflow: auto;
	margin-bottom: 1em;
	box-shadow: 5px 5px 20px #eee;
	padding: 1em;
	border-radius: 1em;
	position: relative;
}