{{ define "main" }}
<div style="height:20px"></div>
<div class="text-center">    
	{{ $image := resources.Get "images/ben-crop.jpeg" }}
	{{ $image := $image.Resize "300x300" }}
	{{ $image := $image.Crop "300x300 center" }}
	
	<img class="circular" src="{{ $image.RelPermalink }}" />

	<div style="height:20px"></div>
	<table class="contact">
		<tr><td>email</td><td><a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a></td></tr>
	  	<tr><td>github</td><td><a href="https://github.com/{{ .Site.Params.github }}">{{ .Site.Params.github }}</a></td></tr>
	</table>
</div>
{{ end }}